@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-dark);
}


/* || Layout */

.wrapper {
    margin-left: 60px;
    margin-right: 20px;
}

.hero {
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}

.body {
    margin-left: 20px;
}


/* || TYPOGRAPHY */

h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 145.38%;
}

.font-size-reg {
    font-size: 16px;
}

.font-size-md {
    font-size: 18px;
}

.font-size-lg {
    font-size: 26px;
}


/* || Components */

.navbar {
    list-style: none;
}

.img {
    max-width: 100%;
}